body{
  font-family: Arial;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container{
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1{
  text-align: center;
}

.form-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input{
  padding: 10px;
  font-size: 16px;
}

button{
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.job-card{
  background: #eee;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

.delete-btn{
  background: red;
  margin-top: 10px;
}